@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="mt-5">¿Deseas gestionar tus finanzas de forma sencilla y segura?</h2>
    <p class="lead">
        Aquí te ofrecemos la posibilidad de crear tu propia cuenta bancaria, monitorear tu saldo y realizar todas tus gestiones financieras sin complicaciones.
    </p>
    <p>
        ¿Qué esperas? <strong>Inicia sesión</strong> o <strong> Registrate </strong> ahora para comenzar a organizar tus finanzas con nosotros. ¡Es rápido, fácil y completamente seguro!
    </p>
    <p class="text-muted">
        Una vez dentro, podrás crear tu cuenta bancaria, gestionar tus fondos y estar al tanto de todas tus operaciones. ¡Estamos aquí para hacer que tus finanzas sean simples y claras!
    </p>
</div>